@page
@model AboutModel
@{
   
}

<h3></h3>
<body style="background-color:AntiqueWhite;">


    <div class="container">

        <img src="~/images/aboutus.jpg" alt="Snow" style="width:1100px;height:500px;">
        <h3> About us</h3>
        <p>
            MosuqeCharity is a small website with the main aim of helping people around the world.
            Your financial help can lead several poor people out of their misery as they are in desperate need of assistance.
        </p>

        <p2>
            Some people around the world have to travel for about an hour to go to their nearest mosque,
            which is why our aim is to build as many mosques as posssible with your help so that people
            can pray more frequently and easily. Every prayer concluded in those mosques will be highly
            benficial for you in the after life, where the deeds of this world count the most.

        </p2>

        <p3>
            The website also has various functions, such as zakat caluclator which will enable you to calculate
            the weekly zakat you should donate, news, events pages that will inform you of the latest news and events
            and many more.

        </p3>

        <p4>
            To contact us please click the contact button on top.

        </p4>

        <h4> Website Designer:</h4>
        <h5> Sadman Rahman</h5>
        <h5> Email: Rahmas78@lsbu.ac.uk</h5>

    </div>
</body>
