@page
@model AppealsModel
@{
    ViewData["Title"] = "Our Current Appeals";
}
<h2>@ViewData["Title"]</h2>
<h3></h3>
<body style="background-color:AntiqueWhite;">


    <div class="container">

        <img src="~/images/winterM.jpg" alt="Snow" style="width:300px;height:300px;">
        <a class="btn btn-default">
            <btn onclick="location.href='https://buy.stripe.com/test_fZe2bYe3z4jEcg0148'">
                Donate
                </a>
                <h4>Winter Emergency</h4>
                <p>
                    Provide a small prayer space for only 100£ and gain blessings everytime a person prays there for lifetime.

                </p>

                <img src="~/images/orphan.jpg" alt="Snow" style="width:300px;height:300px;">
                <a class="btn btn-default">
                    <btn onclick="location.href='https://buy.stripe.com/test_4gw2bY0cJg2m7ZK7sx'">
                        Donate
                </a>
                <h4>Charitate for orphans</h4>
                <p>
                    Provide a small prayer space for only 100£ and gain blessings everytime a person prays there for lifetime.

                </p>

                <img src="~/images/water.jpg" alt="Snow" style="width:300px;height:300px;">
                <a class="btn btn-default">
                    <btn onclick="location.href='https://buy.stripe.com/test_5kA9Eq6B7bM693O4gm'">
                        Donate
                </a>
                <h4>Help build a Well</h4>
                <p>
                    Provide a small prayer space for only 100£ and gain blessings everytime a person prays there for lifetime.

                </p>
                <img src="~/images/palestine.jpg" alt="Snow" style="width:300px;height:300px;">
                <a class="btn btn-default">
                    <btn onclick="location.href='https://buy.stripe.com/test_9AQ3g21gN6rM2FqfZ5'">
                        Donate
                </a>
                <h4>Help Palestine</h4>
                <p>
                    Provide a small prayer space for only 100£ and gain blessings everytime a person prays there for lifetime.

                </p>

</div>
</body>
