@page
@model NewsModel
@{
    ViewData["Title"] = "News";
}
<h2>@ViewData["Title"]</h2>
<h3></h3>
<body style="background-color:AntiqueWhite;">

    <div class="container">

        <iframe width="600" height="400" src="https://www.youtube.com/embed/bzAY7GtWUm4"></iframe>
        <h3>War in Ukraine: Citizens spontaneously offer fleeing Ukrainians help at Polish border</h3>

        <p>
            The EU on Thursday agreed to approve temporary protection for refugees fleeing the war in Ukraine. One million refugees have fled Ukraine in just seven days, the United Nations said. France 24's Luke Shrago reports from the Polish border.
        </p>

        <iframe width="600" height="400" src="//www.youtube.com/embed/9rnOlEsNc2c"></iframe>
        <h3>Hijab ban draws focus to Muslim alienation in India | DW News Asia</h3>

        <p>
            A hijab ban draws focus to the growing religious divide in Indian society. We look at how that divide is being used by some politicians to fuel an 'us versus them' campaign in India's regional elections.
        </p>

        <iframe width="600" height="400" src="//www.youtube.com/embed/-But7VUveAc"></iframe>

        <h3>Islam is the world's fastest growing religion - BBC News</h3>

        <p>
            Islam could overtake Christianity as the world's biggest religion by 2070 according to the US-based Pew Research Center.
        </p>
        <iframe width="600" height="400" src="//www.youtube.com/embed/VMWgeSuHKhs"></iframe>

        <h3>Hajj: 7 things you don't know about the Muslim Pilgrimage - BBC News</h3>

        <p>
            Millions of Muslims from all around the world are gathering in Mecca, Saudi Arabia, to perform Hajj - the Muslim pilgrimage .It takes place only once a year, in the 12th and final month of the Islamic lunar calendar. Fahima Abdulrahman tells you seven facts about the Hajj.
        </p>

    </div>
</body>