@page
@model UpcomingEvents
@{
    ViewData["Title"] = "Upcoming Events";
}
<h2>@ViewData["Title"]</h2>
<h3></h3>
<body style="background-color:AntiqueWhite;">

    <div class="container">

        <img src="~/images/hydepark.jpg" alt="Islam" style="width:500px;height:300px;">
        <h3>Speakers Corner (Knigtsbridge)</h3>
        <h4>Every Saturday from 11:00AM</h4>
        <h4>Location:Hyde Park</h4>
        <p>
            Come with us to share your thoughts about religion, ask any questions about why we think Islam is the true religion or even attend just to listen and learn.
        </p>

        <img src="~/images/ramadan.jpg" alt="Islam" style="width:500px;height:300px;">
        <h3>UK's Largest Ramdan event is back!'</h3>
        <h4>April 7th</h4>
        <h4>Location:Trafalgar Square</h4>
        <p>
            Open your fast with thousands of your muslim brothers and sisters.
        </p>

        <img src="~/images/iqra.jpg" alt="Islam" style="width:500px;height:300px;">

        <h3>Recitation of Quran (Iqra)</h3>
        <h4>April 18th</h4>
        <h4>Location:West London Islamic Cultural Centre Mosque</h4>
        <p>
            A night of Quran recitation and reflection.
        </p>
        <img src="~/images/learnislam.jpg" alt="Islam" style="width:500px;height:300px;">

        <h3>For all non-muslims, learn about Islam</h3>
        <h4>April 28th</h4>
        <h4>Location:West London Islamic Cultural Centre Mosque</h4>
        <p>
            If you are a non-muslim and interested to know about islam, this event is for you! Here will be explained why Islam is the true relgion and answer any of yours doubts.
        </p>

    </div>
</body>
